config LAZYPLUG
       bool "LazyPlug HotPlug, developed by arter97."
       default y
       help
	    Based on IntelliPlug, this HotPlug uses a Conservative Approach
	    towards HotPlugging. This HotPlug is Developed by arter97 and 
	    Enhanced by fraps129.
